<div id="progressBar">
	<div class="loader"></div>
</div> 
<div class="account-user-sec">
	<div class="account-sec">
		<div class="acount-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<div class="contact-sec">
							<div class="widget-title">
								<h3>Recover your password.</h3>
								<span>Enter email to proceed.</span>
							</div><!-- Widget title -->
							<div class="account-form">
								<form>
									<div class="row">
										<div class="feild col-md-12">
											<input type="text" placeholder="Email" />
										</div>
										<div class="feild col-md-8">
											<input type="submit" value="Recover password" />
										</div>
										<div class="feild col-md-4" style="padding-top: 30px;">
											<a href="#/login"> Login Page </a>
										</div>
									</div>
								</form>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- Account Sec -->
</div>
